<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1>Welcome on ShittyKebab!!</h1>
        <p>Please click on the Order button to.... actually order some awesome food!</p>
        <button class="btn" onclick="location.href='users/new';">order</button>
      </div>
    </div>
  </body>
</html>
