.event_note{
  display: flex;
  min-height: 200px;
  width: 80%;
  padding: 10px;
  margin: auto;
  background-color: #EDEDED;
}

.event_note1{
  overflow: hidden;
  padding: 10px;
  text-align: justify;

}

.event_note2{
  overflow: hidden;
  padding: 10px

}
